<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Cook Collab</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <!-- Own CSS changes -->
    <link rel="stylesheet" href="css/site.css"/>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
</head>
<body>
<div class="page-header">
    <h1 class="text-center" th:text="${event.recipe}  + ' on ' + ${event.eventDate} + ' at ' + ${event.address}"></h1>
</div>
<div class="container">
    <br>
    <h2 class="text-center" th:text="${'Date: ' + event.eventDate}"/>
    <br>
    <h2 class="text-center" th:text="${'Address: ' + event.address}"/>
    <br>
    <h2 class="text-center" th:text="${'Recipe: ' + event.recipe}"/>
    <br>
    <h2 class="text-center" th:text="${'Owner: ' + event.user.firstName + ' ' + event.user.lastName}"/>
</div>
<div class="container">
    <br><br>
    <h2>Guests</h2>
    <table class="table table-hover">
        <thead>
        <tr>
            <td><b>Name</b></td>
            <td><b>Email</b></td>
            <td><b>Phone</b></td>
            <td><b>Bio</b></td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user: ${event.guests}">
            <td th:text="${user}">Name</td>
            <td th:text="${user.email}">Email</td>
            <td th:text="${user.phone}">Phone</td>
            <td th:text="${user.bio}">Bio</td>
        </tr>
        </tbody>
    </table>
</div>
<div class="container">
    <br><br>
    <h2>Ingredients</h2>
    <table class="table table-hover">
        <thead>
        <tr>
            <td><b>user</b></td>
            <td><b>quantity</b></td>
            <td><b>name</b></td>
            <td><b>unit</b></td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="ingredient: ${event.ingredients}">
            <td th:text="${ingredient.user}">user</td>
            <td th:text="${ingredient.quantity}">quantity</td>
            <td th:text="${ingredient.name}">name</td>
            <td th:text="${ingredient.unit}">unit</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
