<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Cook Collab</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <!-- Own CSS changes -->
    <link rel="stylesheet" href="css/site.css"/>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
</head>
<body>
<div class="page-header">
    <h1 class="text-center"><b>Ingredients</b></h1>
</div>
<div class="container">
    <table class="table table-hover">
        <thead>
        <tr>
            <td><b>ingredient_id</b></td>
            <td><b>event</b></td>
            <td><b>user</b></td>
            <td><b>quantity</b></td>
            <td><b>unit</b></td>
            <td><b>name</b></td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="ingredient: ${ingredients}">
            <td th:text="${ingredient.ingredientID}">ingredient_id</td>
            <td th:text="${ingredient.event}">event</td>
            <td th:text="${ingredient.user}">user</td>
            <td th:text="${ingredient.quantity}">quantity</td>
            <td th:text="${ingredient.unit}">unit</td>
            <td th:text="${ingredient.name}">name</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
